{% extends 'layout.html' %} ﻿{% block body %}


<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
  <div class="mdc-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Membrane Structures</h1>
    </section>
    <section class="mdc-card__supporting-text pt-1">

  <table class="table table-hoverable">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Structure Label</th>
        <th class="mdl-data-table__cell--non-numeric">number of pores</th>
        <th class="mdl-data-table__cell--non-numeric">boxsize</th>
        <th class="mdl-data-table__cell--non-numeric">lower lower_bound</th>
        <th class="mdl-data-table__cell--non-numeric">upper bound</th>
        <th class="mdl-data-table__cell--non-numeric">pore size ceiling</th>
        <th class="mdl-data-table__cell--non-numeric">pore size floor</th>
        <th class="mdl-data-table__cell--non-numeric">z scale factor</th>
        <th class="mdl-data-table__cell--non-numeric">view image</th>
      </tr>
    </thead>
    {% if structures != None %}
    <tbody>
      {% for structure in structures %}
      <tr>

        <td class="mdl-data-table__cell--non-numeric">{{structure.label}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.nPores}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.boxSize}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.lowerC}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.upperC}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.poreSizeCeiling}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.poreSizeFloor}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{structure.zScaleFactor}}</td>
        <td>
	  <form action="{{url_for('viewmembrane', membraneId=structure.id )}}" method="post">
	    <input type="submit" value="view" class="mdl-button mdl-js-button mdl-button--accent">
	  </form>
	</td>

	
        <td>
	  <form action="{{url_for('download_membrane', membraneId=structure.id )}}" method="post">
	    <input type="submit" value="download" class="mdl-button mdl-js-button mdl-button--accent">
	  </form>
	</td>
	

      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>

</section>
</div>
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
  <div class="mdc-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Create New Structure</h1>
    </section>
    <section class="mdc-card__supporting-text pt-1">

        <form action='/structures', method="post", id="anything">
          {{ form.hidden_tag() }}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name={{form.label.name}}>
            <label class="mdl-textfield__label" for={{form.label.name}}>Structure Label</label>
          </div>
          <div></div>
          {% for error in form.label.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name={{form.npores.name}}>
            <label class="mdl-textfield__label" for={{form.npores.name}}>Number of Pores</label>
          </div>
          <div></div>
          {% for error in form.npores.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="name" name={{form.boxSize.name}}>
            <label class="mdl-textfield__label" for={{form.boxSize.name}}>box size</label>
          </div>
          <div></div>
          {% for error in form.boxSize.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}


	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="name" name={{form.lowerC.name}}>
            <label class="mdl-textfield__label" for={{form.lowerC.name}}>lower cutoff of membrane</label>
          </div>
          <div></div>
          {% for error in form.lowerC.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="name" name={{form.upperC.name}}>
            <label class="mdl-textfield__label" for={{form.upperC.name}}>upper cutoff of membrane</label>
          </div>
          <div></div>
          {% for error in form.upperC.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

	  
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" step="0.01" id="name" name={{form.poreSizeCeiling.name}}>
            <label class="mdl-textfield__label" for={{form.poreSizeCeiling.name}}>pore size ceiling</label>
          </div>
          <div></div>
          {% for error in form.poreSizeCeiling.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}


	  
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" step="0.01" id="name" name={{form.poreSizeFloor.name}}>
            <label class="mdl-textfield__label" for={{form.poreSizeFloor.name}}>pore size floor</label>
          </div>
          <div></div>
          {% for error in form.poreSizeFloor.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}


	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" step="0.01" id="name" name={{form.zScaleFactor.name}}>
            <label class="mdl-textfield__label" for={{form.zScaleFactor.name}}>z scale factor</label>
          </div>
          <div></div>
          {% for error in form.zScaleFactor.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}	  
	  
        </form>

        <br />
        <button type="submit" form="anything" class="mdc-button mdc-js-button mdc-button--raised mdc-js-ripple-effect mdc-button--accent">Create Membrane</button>

    </section>
  </div>
</div>





{% endblock %}
